@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: __inter_Fallback_20b187, ui-sans-serif, system-ui, -apple-system,
    "system-ui", Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

:root {
  --blue: #0aa1ff;
  --green: #38a674;
  --background: #131313;
  --hover-green: #4ce29e;
  --black-color: #131313;
}

html {
  scroll-behavior: smooth;
  background: #131313;
}

::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(30, 30, 30);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

p {
  font-weight: 300;
}

.white {
  background: -webkit-linear-gradient(#fff, #d4d4d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue {
  background: -webkit-linear-gradient(#009dff, #0a6eb6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  width: 100%;
  height: 70vh;
  background: linear-gradient(
    180deg,
    black,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1),
    var(--black-color)
  );
}

.heading-name {
  font-size: 4.688rem;
  display: flex;
  justify-content: center;
  padding-top: 13rem;
  z-index: 2;
}

.heading-type {
  display: flex;
  justify-content: center;
  font-size: 4.688rem;
  margin-bottom: 1rem;
  z-index: 2;
}

.socials ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.socials ul li a {
  margin: 0.5rem;
}

.socials ul li .resume {
  transition: all 0.5s ease;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.3rem;
  color: #fff;
  z-index: 1;
}

.socials ul li .resume:hover {
  background: #4ce29e;
  border: 1px solid var(--background);
  color: var(--background);
}

section {
  padding-left: 6rem;
  padding-right: 6rem;
  background: var(--background);
  color: #a5a5a5;
  letter-spacing: 0.07rem;

  line-height: 1.4rem;
}

section .title {
  color: #fff;
  font-weight: 400;
  font-size: 1.3rem;
  padding-bottom: 1.5rem;
  padding-top: 4rem;
}

.work ul {
  display: flex;
}

.experience ul .date {
  width: 18rem;
}

section .subtitle {
  color: #e8e8e8;
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.description .summary {
  padding-bottom: 1rem;
}

.description .tech {
  padding-bottom: 1.5rem;
}

.description .tech ul {
  display: flex;
  list-style-type: none;
}

.description .tech ul li a {
  padding: 0.4rem;
  color: var(--blue);
  font-size: 0.8rem;
  background: rgba(10, 161, 255, 0.05);
}

.description .tech ul li {
  margin-left: 0.5rem;
  border: 1px solid var(--blue);
  border-radius: 2px;
  transition: 0.5s ease;
}

.description .tech ul li:hover {
  box-shadow: 1px 1px 5px var(--blue);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div {
  flex: 40%;
}

.card {
  width: 50%;
  height: 15rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #1e1e1e;
  border-radius: 4px;
  transition: 0.5s ease;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  color: white;
}

.card:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 7px rgba(163, 163, 163, 0.9);
}
/*
.card-gradient{
    position: absolute;
    top:0;
    left:0;
    width:10vw;
    height:100%;
    background: radial-gradient(ellipse at left top #fff, #fff);
    transition: 0.1s ease-in;
}
*/

.links {
  position: absolute;
  list-style-type: none;
  display: flex;
  top: 10%;
  left: 76%;
}

.links li a {
  margin-left: 1.5rem;
}

.tech-stack {
  position: absolute;
  top: 85%;
}

.tech-stack ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  list-style-type: none;
  font-size: 0.8rem;
  color: #a5a5a5;
  transition: 0.5s ease;
}

.card .tech-stack ul:hover {
  color: #fff;
}

.tech-stack ul li a {
  margin-left: 0.5rem;
}

.linkedin {
  transition: 0.5s ease;
}

.linkedin:hover {
  fill: var(--hover-green);
}

.github {
  transition: 0.5s ease;
}

.github:hover {
  stroke: var(--hover-green);
}

.view {
  transition: 0.5s ease;
}

.view:hover {
  fill: var(--hover-green);
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.skills ul li {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background: rgba(55, 52, 52, 0.26);
}

.skills ul li {
  padding: 0.313rem;
  border-radius: 2px;
  transition: 0.3s ease;
  border: 1px solid #333333;
  background-color: #232323;
  box-shadow: 0 2px 3px #0000003d;
}

.skills ul li:hover {
  box-shadow: 0 2px 3px #2d2d2d;
}

.skills ul li a {
  font-size: 0.8rem;
}

.pulsating-circle-green {
  position: absolute;
  left: 95.5%;
  top: 12.5%;
  transform: translateX(-50%) translateY(-50%);
  width: 0.7rem;
  height: 0.7rem;

  &:before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: var(--green);
    animation: pulse-ring 2.25s cubic-bezier(0.1, 0.1, 0.1, 1) infinite;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--green);
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.05);
  }
  80%,
  100% {
    opacity: 0;
  }
}

.footer {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding: 30px 0;
  border-top: 1px solid #2d2d2d;
  margin-top: 30px;
}

.footer span {
  margin: 0;
  font-size: 12px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  margin: 0;
  gap: 30px;
  font-size: 16px;
  color: #a5a5a5;
  text-decoration: none;
}

.footer-social * {
  transition: all 0.1s ease;
}

.footer-social *:hover {
  color: var(--hover-green);
}

@media screen and (min-width: 650px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 0;
    border-top: 1px solid #2d2d2d;
    margin-top: 30px;
  }

  .footer-social {
    display: flex;
    gap: 20px;
    font-size: 18px;
  }
}

.footer-social .top {
  font-size: 0.7rem;
}

.hero-stars {
  top: -1px;
  width: 100%;
  max-width: 1400px;
  position: absolute;
  z-index: 0;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
}

.row1 > div {
  flex: 40%;
}

.card1 {
  width: 100%;
  height: 15rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #1e1e1e;
  border-radius: 4px;
  transition: 0.5s ease;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  position: relative;
  color: white;
  padding: 0 5rem 0 5rem;
}

.card1:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 7px rgba(93, 92, 92, 0.9);
}
/*
.card-gradient{
    position: absolute;
    top:0;
    left:0;
    width:10vw;
    height:100%;
    background: radial-gradient(ellipse at left top #fff, #fff);
    transition: 0.1s ease-in;
}
*/

.links1 {
  position: absolute;
  list-style-type: none;
  display: flex;
  top: 8%;
  left: 75.5%;
}

.links1 li a {
  margin-left: 1.5rem;
}

.tech-stack {
  position: absolute;
  top: 85%;
}

.tech-stack ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  list-style-type: none;
  font-size: 0.8rem;
  color: #a5a5a5;
  transition: 0.5s ease;
}

.card1 .tech-stack ul:hover {
  color: #fff;
}

.tech-stack ul li a {
  margin-left: 0.5rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  max-width: 19000px;
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}
.nav-links,
.nav-links-filled {
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  position: relative;
}

.nav-links-filled {
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
}
.nav-links-filled .nav-links-item,
.nav-links-filled .nav-links-item.contact {
  color: #fff;
}
.nav-links-filled .nav-slider {
  background: rgba(79, 79, 79, 0.4);
}

.nav-links-item {
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 17px;
  z-index: 2;
  padding: 18px 30px;
  margin: 0.1rem;
  font-weight: 300;
}

.project-description {
  color: #a5a5a5;
  font-size: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-weight: 300;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

.carousel::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 22%;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 50%;
  width: 50%;

  margin: 0 30rem 0 30rem;
  height: 15rem;
  counter-increment: item;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;

  left: 0;
  text-align: center;
}

.text {
  position: absolute;
  right: 36%;
  transition: 0.5s ease;
}

.text:hover {
  color: white;
}

.text span {
  transition: 0.25s ease;
}

.text span:hover {
  color: var(--blue);
}

.text1 {
  position: absolute;
  left: 36%;
  transition: 0.5s ease;
}

.text1 span {
  transition: 0.5s ease;
}

.text1:hover {
  color: white;
}

.text1 span:hover {
  color: var(--blue);
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}
