@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding:0;
    font-family:'Roboto';
}

:root{

--blue: #0aa1ff;
--green: #38a674;
--background: #131313;
--hover-green: #4ce29e;

}

html{
    scroll-behavior: smooth;
    background: #131313
}

::-webkit-scrollbar {
    width: 0.3rem;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(13,13,13);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(14,14,14);
  }

p{
    font-weight: 300;
}

.white{
    background: -webkit-linear-gradient(#fff, #686868);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blue{
    background:-webkit-linear-gradient(#009dff, #0a6eb6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav{
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    background:rgb(15, 15, 15);
}

::selection{
    background: var(--blue);
    color:var(--background);
}


nav ul{
    color:aliceblue;
    position: fixed;
    height: 4rem;

    border-radius: 90px;
    width:fit-content;
    align-items: center;
    display: flex;
    list-style-type: none;

    background: rgba(56, 56, 56, 0.26);
    border-radius: 90px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(147, 147, 147, 0.15);
    z-index: 9999;
}



nav ul li a{
    margin-right: 2.5rem;
   
}

nav ul li .home{
    margin-left: 2.5rem;
}

header{
    width:100%;
    height: 75vh;
    background:rgb(15, 15, 15);
    
}

.heading-name{
    font-size:6rem;
    display: flex;
    justify-content:center;
    padding-top: 13rem;
}

.heading-type{
    display: flex;
    justify-content: center;
    font-size: 4rem;
        margin-bottom: 1rem;
}

.socials ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.socials ul li a{
    margin: 0.5rem;
}

.socials ul li .resume{
    transition: all 0.5s ease;
    border: 1px solid #fff;
    border-radius:5px;
    padding: 0.3rem;
    color: #fff;
}

.socials ul li .resume:hover{
    background: #4ce29e;
    border: 1px solid var(--background);
    color:var(--background);
}

.transition{
    width:100%;
    height: 6vh;
    background: linear-gradient(rgb(12,12,12),rgb(13,13,13),rgb(14,14,14), rgb(15,15,15),rgb(16,16,16),rgb(17,17,17),rgb(18,18,18), var(--background));
}

section{
    padding-left: 6rem;
    padding-right: 6rem;
    background: var(--background);
    color: #a5a5a5;
    letter-spacing: 0.07rem;

    line-height: 1.4rem;
}

section .title{
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
    padding-top: 4rem;
}

.work ul{
    display: flex;
}

.experience ul .date{
    width: 40rem;
}

section .subtitle{
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.description .summary{
    padding-bottom: 1rem;
}

.description .tech{
    padding-bottom: 1.5rem;
}

.description .tech ul{
    display: flex;
    list-style-type: none;
}

.description .tech ul li a{
    padding: 0.4rem;
    color:var(--blue);
    font-size: 0.8rem;
    background:rgba(10,161,255,0.05);
}

.description .tech ul li{
    margin-left: 0.5rem;
    border: 1px solid var(--blue);
    border-radius: 2px;
    transition: 0.5s ease
}

.description .tech ul li:hover{
    box-shadow: 1px 1px 5px var(--blue);
}

.row{
    display: flex;
}

.card{
    width:50%;
    height: 15rem;
    border: 1px solid rgba(255,255,255,0.3);
    background: #181818;
    border-radius: 4px;
    transition: 0.5s ease;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    color: white;
}

.card:hover{
    border:1px solid rgba(255,255,255,0.6);
    box-shadow:0 0 10px rgba(163, 163, 163, 0.9);

}
/*
.card-gradient{
    position: absolute;
    top:0;
    left:0;
    width:10vw;
    height:100%;
    background: radial-gradient(ellipse at left top #fff, #fff);
    transition: 0.1s ease-in;
}
*/

.links{
    position: absolute;
    list-style-type: none;
    display: flex;
    top: 10%;
    left: 76%
}

.links li a{
    margin-left: 1.5rem;
}

.tech-stack{
    position: absolute;
    top: 85%;
}

.tech-stack ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    list-style-type: none;
    font-size: 0.8rem;
    color: #a5a5a5;
    transition: 0.5s ease;

}

.card .tech-stack ul:hover {
    color: #fff;
}

.tech-stack ul li a{
    margin-left: 0.5rem;

}

.linkedin{
    transition: 0.5s ease;
}

.linkedin:hover{
    fill: var(--hover-green);
}

.github{
    transition: 0.5s ease;
}

.github:hover{
    stroke: var(--hover-green);
}

.view{
    transition: 0.5s ease;
}

.view:hover{
    fill: var(--hover-green);
}

.skills ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

}

.skills ul li{
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background:rgba(55, 52, 52, 0.26);
}

.skills ul li{
    border: 1px solid rgba(82, 79, 79, 0.3);
    padding: 0.3rem;
    border-radius: 2px;
    transition: 0.5s ease
}

.skills ul li:hover{
    box-shadow: 0 0 3px;
}

.skills ul li a{
    font-size: 0.8rem;
}

.pulsating-circle-green {
    position: absolute;
    left: 95.5%;
    top: 12.5%;
    transform: translateX(-50%) translateY(-50%);
    width: 0.7rem;
    height: 0.7rem;
  

   &:before {
      content: '';
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 45px;
      background-color: var(--green);
      animation: pulse-ring 2.25s cubic-bezier(0.1, 0.1, 0.1, 1) infinite;
    }
    
    &:after {
      content: '';
      position: absolute;
      left: 0; 
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: var(--green);
      border-radius: 15px;
      box-shadow: 0 0 8px rgba(0,0,0,.3);
      animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }
  
  @keyframes pulse-ring {
    0% {
      transform: scale(.05);
    }
    80%, 100% {
      opacity: 0;
    }
  }

  .footer{
    display:flex;
    align-items:center;
    gap:15px;
    justify-content:space-between;
    flex-direction:column-reverse;
    padding:30px 0;
    border-top:1px solid #2d2d2d;
    margin-top:30px
}

.footer span{
    font-size:12px
}

.footer-link:hover{
    text-decoration:underline
}

.footer-social{
    display:flex;
    gap:30px;
    font-size:16px; 
    color: #a5a5a5;
    text-decoration: none;
}

.footer-social *{
    transition:all .1s ease;
}

.footer-social *:hover{
    color:var(--hover-green)
}

@media screen and (min-width: 650px){
    
    .footer{
        display:flex;
        align-items:center;
        justify-content:space-between;
        flex-direction:row;
        padding:30px 0;
        border-top:1px solid #2d2d2d;
        margin-top:30px}
        
        .footer-social{
            display:flex;
            gap:20px;
            font-size:18px;
        }
    }

  .footer-social .top{
    font-size: 0.7rem;
  }
