/*
Start of site CSS
▬▬▬.◙.▬▬▬
 ═▂▄▄▓▄▄▂
◢◤ █▀▀████▄▄▄▄◢◤
█▄▂█ █▄███▀▀▀▀▀▀▀╬
◥█████◤
══╩══╩═
 ╬═╬
 ╬═╬
 ╬═╬
 ╬═╬
 ╬═╬
 ╬═╬ 
 ╬═╬
 ╬═╬
*/

/* Font Imports Start */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech+Mono&display=swap");
/* Fonts Imports End */

/* General Page CSS Starts */

* {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Noto Sans";
}

:root {
  --blue: #0aa1ff;
  --green: #38a674;
  --background: #131313;
  --hover-green: #4ce29e;
  --black-color: #131313;
  --white-color: #989898;
}

html {
  background: #131313;
  scroll-behavior: smooth;
}

::selection {
  background: var(--blue);
  color: #000;
}

::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(30, 30, 30);
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

p {
  font-weight: 300;
}

section {
  padding-left: 6rem;
  padding-right: 6rem;
  background: var(--background);
  color: #a5a5a5;
  letter-spacing: 0.07rem;
  line-height: 1.6rem;
}

section .title {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
  padding-top: 4rem;
}

/* General Page CSS Ends */

/* Header Starts */
/**/

.bg-animation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 117px 1613px #fff, 1488px 635px #fff, 944px 914px #fff,
    647px 277px #fff, 1792px 1205px #fff, 656px 1517px #fff, 820px 1839px #fff,
    1153px 1400px #fff, 870px 13px #fff, 550px 702px #fff, 1155px 1056px #fff,
    88px 1709px #fff, 1450px 1090px #fff, 1929px 457px #fff, 1390px 905px #fff,
    1771px 269px #fff, 1741px 669px #fff, 432px 64px #fff, 563px 996px #fff,
    1918px 1873px #fff, 1845px 1211px #fff, 231px 1503px #fff, 37px 220px #fff,
    1970px 495px #fff, 1812px 925px #fff, 67px 1398px #fff, 535px 279px #fff,
    1837px 829px #fff, 1945px 685px #fff, 1677px 1817px #fff, 1317px 1415px #fff,
    1785px 905px #fff, 1787px 1554px #fff, 802px 1296px #fff, 512px 1101px #fff,
    583px 1364px #fff, 336px 558px #fff, 979px 334px #fff, 106px 792px #fff,
    204px 34px #fff, 1845px 1763px #fff, 445px 1599px #fff, 386px 453px #fff,
    471px 952px #fff, 1466px 1676px #fff, 1885px 303px #fff, 51px 1717px #fff,
    1211px 299px #fff, 1546px 1887px #fff, 1067px 33px #fff, 1088px 1326px #fff;
  -webkit-animation: animStar 50s linear infinite;
  -moz-animation: animStar 50s linear infinite;
  -ms-animation: animStar 50s linear infinite;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 117px 1613px #fff, 1488px 635px #fff, 944px 914px #fff,
    647px 277px #fff, 1792px 1205px #fff, 656px 1517px #fff, 820px 1839px #fff,
    1153px 1400px #fff, 870px 13px #fff, 550px 702px #fff, 1155px 1056px #fff,
    88px 1709px #fff, 1450px 1090px #fff, 1929px 457px #fff, 1390px 905px #fff,
    1771px 269px #fff, 1741px 669px #fff, 432px 64px #fff, 563px 996px #fff,
    1918px 1873px #fff, 1845px 1211px #fff, 231px 1503px #fff, 37px 220px #fff,
    1970px 495px #fff, 1812px 925px #fff, 67px 1398px #fff, 535px 279px #fff,
    1837px 829px #fff, 1945px 685px #fff, 1677px 1817px #fff, 1317px 1415px #fff,
    1785px 905px #fff, 1787px 1554px #fff, 802px 1296px #fff, 512px 1101px #fff,
    583px 1364px #fff, 336px 558px #fff, 979px 334px #fff, 106px 792px #fff,
    204px 34px #fff, 1845px 1763px #fff, 445px 1599px #fff, 386px 453px #fff,
    471px 952px #fff, 1466px 1676px #fff, 1885px 303px #fff, 51px 1717px #fff,
    1211px 299px #fff, 1546px 1887px #fff, 1067px 33px #fff, 1088px 1326px #fff,
    1938px 760px #fff, 470px 648px #fff, 1213px 269px #fff, 1767px 78px #fff,
    977px 976px #fff, 1926px 175px #fff, 722px 1512px #fff, 945px 227px #fff,
    1811px 99px #fff, 1912px 1406px #fff, 1602px 1243px #fff, 610px 449px #fff,
    654px 1393px #fff, 1930px 1193px #fff, 258px 1184px #fff, 89px 265px #fff,
    824px 1494px #fff, 1506px 1435px #fff, 1027px 753px #fff, 1px 1197px #fff,
    530px 1161px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1117px 1306px #fff, 1078px 1783px #fff, 1179px 1085px #fff,
    1145px 920px #fff, 422px 1233px #fff, 387px 98px #fff, 1153px 637px #fff,
    1084px 782px #fff, 476px 453px #fff, 926px 1306px #fff, 60px 1086px #fff,
    753px 1575px #fff, 272px 1684px #fff, 1285px 750px #fff, 1416px 1327px #fff,
    1931px 473px #fff, 736px 1395px #fff, 1816px 763px #fff, 438px 879px #fff,
    665px 1902px #fff, 1341px 677px #fff, 1404px 1073px #fff, 100px 597px #fff,
    357px 1689px #fff, 1044px 1342px #fff, 1954px 502px #fff, 1192px 1308px #fff,
    540px 1239px #fff, 1360px 552px #fff, 89px 752px #fff, 659px 1253px #fff,
    62px 517px #fff, 1375px 1705px #fff, 1343px 1511px #fff, 1659px 1922px #fff,
    1560px 289px #fff, 1362px 1799px #fff, 1886px 1480px #fff,
    1718px 1885px #fff, 824px 738px #fff, 1060px 1370px #fff, 1781px 1171px #fff,
    255px 273px #fff, 1197px 120px #fff, 213px 7px #fff, 1226px 1920px #fff,
    1844px 207px #fff, 1675px 970px #fff;
  -webkit-animation: animStar 100s linear infinite;
  -moz-animation: animStar 100s linear infinite;
  -ms-animation: animStar 100s linear infinite;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1117px 1306px #fff, 1078px 1783px #fff, 1179px 1085px #fff,
    1145px 920px #fff, 422px 1233px #fff, 387px 98px #fff, 1153px 637px #fff,
    1084px 782px #fff, 476px 453px #fff, 926px 1306px #fff, 60px 1086px #fff,
    753px 1575px #fff, 272px 1684px #fff, 1285px 750px #fff, 1416px 1327px #fff,
    1931px 473px #fff, 736px 1395px #fff, 1816px 763px #fff, 438px 879px #fff,
    665px 1902px #fff, 1341px 677px #fff, 1404px 1073px #fff, 100px 597px #fff,
    357px 1689px #fff, 1044px 1342px #fff, 1954px 502px #fff, 1192px 1308px #fff,
    540px 1239px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 940px 1360px #fff, 1071px 539px #fff, 1710px 1414px #fff,
    836px 299px #fff, 1944px 1420px #fff, 253px 1449px #fff, 1257px 1250px #fff,
    1588px 1830px #fff, 1077px 1204px #fff, 273px 1081px #fff, 1993px 766px #fff,
    1808px 479px #fff, 917px 263px #fff, 663px 1820px #fff, 342px 1988px #fff,
    727px 1250px #fff, 636px 1666px #fff, 692px 1112px #fff, 248px 1211px #fff,
    1422px 1121px #fff, 881px 46px #fff, 1531px 1977px #fff, 1643px 1023px #fff,
    684px 1071px #fff, 1142px 1873px #fff, 292px 1313px #fff, 256px 1237px #fff,
    89px 912px #fff, 964px 1783px #fff, 877px 760px #fff, 1641px 1474px #fff;
  -webkit-animation: animStar 150s linear infinite;
  -moz-animation: animStar 150s linear infinite;
  -ms-animation: animStar 150s linear infinite;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 940px 1360px #fff, 1071px 539px #fff, 1710px 1414px #fff,
    836px 299px #fff, 1944px 1420px #fff, 253px 1449px #fff, 1257px 1250px #fff,
    1588px 1830px #fff, 1077px 1204px #fff, 273px 1081px #fff, 1993px 766px #fff,
    1808px 479px #fff, 917px 263px #fff, 663px 1820px #fff, 342px 1988px #fff,
    727px 1250px #fff, 636px 1666px #fff, 692px 1112px #fff, 248px 1211px #fff,
    1422px 1121px #fff, 881px 46px #fff, 1531px 1977px #fff, 1643px 1023px #fff,
    684px 1071px #fff, 1142px 1873px #fff, 292px 1313px #fff, 256px 1237px #fff,
    89px 912px #fff, 964px 1783px #fff, 877px 760px #fff, 1641px 1474px #fff,
    1492px 24px #fff, 1776px 1642px #fff, 183px 602px #fff, 1998px 62px #fff,
    1560px 367px #fff, 1333px 995px #fff, 704px 1815px #fff;
}

#stars4 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 233px 1976px #fff, 1196px 1119px #fff, 646px 740px #fff,
    335px 645px #fff, 1119px 1452px #fff, 176px 1870px #fff, 639px 1711px #fff,
    647px 1388px #fff, 1516px 1108px #fff, 464px 66px #fff, 331px 344px #fff,
    772px 1189px #fff, 1516px 1850px #fff, 1500px 1463px #fff, 1275px 876px #fff,
    1107px 645px #fff, 977px 478px #fff, 583px 1179px #fff, 284px 395px #fff,
    1220px 461px #fff, 1160px 249px #fff, 196px 865px #fff, 670px 1915px #fff,
    1449px 382px #fff, 1191px 546px #fff, 1329px 605px #fff, 1945px 458px #fff,
    995px 749px #fff, 1495px 861px #fff, 708px 1731px #fff, 348px 653px #fff,
    548px 1298px #fff, 1606px 990px #fff, 1049px 1204px #fff, 253px 1501px #fff,
    1154px 166px #fff, 1087px 104px #fff, 1034px 1161px #fff, 1681px 462px #fff,
    577px 1897px #fff, 193px 1901px #fff, 1701px 1755px #fff, 864px 1297px #fff,
    800px 1289px #fff, 676px 28px #fff, 185px 1341px #fff, 379px 1151px #fff,
    1224px 1725px #fff, 280px 541px #fff, 473px 1196px #fff, 921px 1628px #fff,
    969px 432px #fff, 1475px 758px #fff, 1195px 993px #fff, 876px 1840px #fff,
    1274px 1689px #fff, 1977px 1101px #fff, 837px 527px #fff, 1785px 1610px #fff,
    1650px 1843px #fff, 1127px 1508px #fff, 401px 1050px #fff, 51px 1105px #fff,
    545px 880px #fff;
  -webkit-animation: animStar 600s linear infinite;
  -moz-animation: animStar 600s linear infinite;
  -ms-animation: animStar 600s linear infinite;
  animation: animStar 600s linear infinite;
}

#stars4:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 233px 1976px #fff, 1196px 1119px #fff, 646px 740px #fff,
    335px 645px #fff, 1119px 1452px #fff, 176px 1870px #fff, 639px 1711px #fff,
    647px 1388px #fff, 1516px 1108px #fff, 464px 66px #fff, 331px 344px #fff,
    772px 1189px #fff, 1516px 1850px #fff, 1500px 1463px #fff, 1275px 876px #fff,
    1107px 645px #fff, 977px 478px #fff, 583px 1179px #fff, 284px 395px #fff,
    1220px 461px #fff, 1160px 249px #fff, 196px 865px #fff, 670px 1915px #fff,
    1449px 382px #fff, 1191px 546px #fff, 1329px 605px #fff, 1945px 458px #fff,
    995px 749px #fff, 1495px 861px #fff, 708px 1731px #fff, 348px 653px #fff,
    548px 1298px #fff, 1606px 990px #fff, 1049px 1204px #fff, 253px 1501px #fff,
    1154px 166px #fff, 1087px 104px #fff, 1034px 1161px #fff, 1681px 462px #fff,
    577px 1897px #fff, 193px 1901px #fff, 1701px 1755px #fff, 864px 1297px #fff,
    800px 1289px #fff, 676px 28px #fff, 185px 1341px #fff, 379px 1151px #fff,
    1224px 1725px #fff, 280px 541px #fff, 473px 1196px #fff, 921px 1628px #fff,
    969px 432px #fff, 1475px 758px #fff, 1195px 993px #fff, 876px 1840px #fff,
    1274px 1689px #fff, 1977px 1101px #fff, 837px 527px #fff, 1785px 1610px #fff,
    1650px 1843px #fff, 1127px 1508px #fff, 401px 1050px #fff, 51px 1105px #fff,
    545px 880px #fff, 1786px 1672px #fff, 318px 260px #fff, 568px 254px #fff,
    1026px 1527px #fff, 1242px 852px #fff, 1785px 982px #fff, 1318px 1071px #fff,
    398px 1061px #fff, 1509px 257px #fff, 599px 928px #fff, 1195px 1800px #fff,
    1254px 906px #fff, 141px 26px #fff, 1384px 1502px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.white {
  background: -webkit-linear-gradient(#fff, #d4d4d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue {
  background: -webkit-linear-gradient(#009dff, #0a6eb6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  position: relative;
}

header .blob {
  position: absolute;
  top: 17%;
  left: 35.5%;
  filter: opacity(20%) drop-shadow(10px 3px 25px #858585);
  width: 26rem;
  z-index: -1;
}

.heading-name {
  font-size: 4.688rem;
  display: flex;
  justify-content: center;
  padding-top: 13rem;
}
/*
.heading-subtitle{
  display: flex;
  color: white;
  font-weight: 200;
  justify-content: center;
  padding-bottom: 0.5rem;
}
*/
.heading-type {
  display: flex;
  justify-content: center;
  font-size: 4.688rem;
  margin-bottom: 1rem;
}

.social-header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-header ul li {
  margin-left: 1rem;
}

.github-header {
  transition: 0.5s ease;
}

.github-header:hover {
  fill: var(--blue);
}

.linkedin-header {
  transition: 0.5s ease;
}

.linkedin-header:hover {
  fill: var(--blue);
}

.contact-header {
  transition: 0.5s ease;
}

.contact-header:hover {
  fill: var(--blue);
}

.resume {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #303030;
  font-weight: 700;
  background: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.resume:hover {
  background: var(--blue);
}

.social-header li a {
  text-decoration: none;
}

.phone {
  transition: 0.5s ease;
}

.phone:hover {
  fill: var(--blue);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  max-width: 19000px;
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}
.nav-links {
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  position: relative;
}

.nav-links {
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);

  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
}
.nav-links .nav-item {
  color: #fff;
  font-weight: 100;
}
.nav-links {
  background: rgba(79, 79, 79, 0.4);
}

.nav-item {
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 17px;
  z-index: 2;
  padding: 18px 22px;
  margin: 0.1rem;
  font-weight: 300;
  transition: 0.5s ease;
}

.nav-item:hover{
  filter:drop-shadow(1px 1px 3px #fff);
}

/* Header Ends */

/* About Starts */

.about-grid {
  display: flex;
  column-gap: 5rem;
}

.about-me-me {
  width: 13rem;
  height: auto;
  border-radius: 15px;
  filter: grayscale(1);
  transition: all 0.5s ease;
}

.about-me-me:hover {
  filter: grayscale(0);
}

.about-text-container {
  margin-top: 1.5rem;
}

.bolded {
  color: var(--blue);
  font-weight: 600;
}

/* About Ends */

/* Education Starts */

.gap{
  margin-bottom: 0.5rem;
}

.gap1{
  margin-bottom: 2rem;
}

.college{
  font-size: 1.17rem;
  color: var(--blue);
  margin-top: 1rem;
}

.education-subtitle{
  color: white;
}

.education{
  border-top: 1px solid #303030;
}

.ed1{
  border-bottom: 1px solid #303030;
}



/* Education Ends */

/* Skills Starts */

.skills ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.skills ul li {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background: rgba(55, 52, 52, 0.26);
}

.skills ul li {
  padding: 0.313rem;
  border-radius: 2px;
  transition: 0.3s ease;
  border: 1px solid #333333;
  background-color: #232323;
  box-shadow: 0 2px 3px #0000003d;
}

.skills ul li:hover {
  box-shadow: 0 2px 3px #2d2d2d;
  color: #fff;
}

.skills ul li a {
  font-size: 0.8rem;
}

/* Skills Ends */

/* Experience Starts */

.work ul {
  display: flex;
}

.experience ul .date {
  width: 18rem;
}

section .subtitle {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.description .summary {
  padding-bottom: 1rem;
}

.description .tech {
  padding-bottom: 1.5rem;
}

.description .tech ul {
  display: flex;
  list-style-type: none;
}

.description .tech ul li a {
  padding: 0.4rem;
  color: var(--blue);
  font-size: 0.8rem;
  background: rgba(10, 161, 255, 0.05);
}

.description .tech ul li {
  margin-left: 0.5rem;
  border: 1px solid var(--blue);
  border-radius: 2px;
  transition: 0.5s ease;
}

.description .tech ul li:hover {
  box-shadow: 1px 1px 5px var(--blue);
}

.experience a .bolded-link {
  color: var(--blue);
  font-weight: 600;
}

.experience a {
  text-decoration: none;
}

/* Experience Ends */

/* Projects Starts */

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div {
  flex: 40%;
}

.card {
  width: 50%;
  height: 15rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(30, 30, 30);
  border-radius: 4px;
  transition: 0.3s ease;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  color: white;
}

.card:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 7px rgba(163, 163, 163, 0.9);
}

/*
.card-gradient{
    position: absolute;
    top:0;
    left:0;
    width:10vw;
    height:100%;
    background: radial-gradient(ellipse at left top #fff, #fff);
    transition: 0.1s ease-in;
}
*/

.links {
  position: absolute;
  list-style-type: none;
  display: flex;
  top: 10%;
  left: 76%;
}

.links li a {
  margin-left: 1.5rem;
}

.tech-stack {
  position: absolute;
  top: 85%;
}

.tech-stack ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  list-style-type: none;
  font-size: 0.8rem;
  color: #a5a5a5;
  transition: 0.5s ease;
}

.card .tech-stack ul:hover {
  color: #fff;
}

.tech-stack ul li a {
  margin-left: 0.5rem;
}

.linkedin {
  transition: 0.5s ease;
}

.linkedin:hover {
  fill: var(--hover-green);
}

.github {
  transition: 0.5s ease;
}

.github:hover {
  stroke: var(--hover-green);
}

.view {
  transition: 0.5s ease;
}

.view:hover {
  fill: var(--hover-green);
}

.pulsating-circle-green {
  position: absolute;
  left: 95.5%;
  top: 12.5%;
  transform: translateX(-50%) translateY(-50%);
  width: 0.7rem;
  height: 0.7rem;

  &:before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: var(--green);
    animation: pulse-ring 2.25s cubic-bezier(0.1, 0.1, 0.1, 1) infinite;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--green);
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.05);
  }
  80%,
  100% {
    opacity: 0;
  }
}

.project-description {
  color: #a5a5a5;
  font-size: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-weight: 300;
}

/* Projects Ends */

/* Honors Starts */

.honors {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
  text-align: center;
}

.img {
  transition: 0.5s ease;
}

.img:hover {
  filter: drop-shadow(0px 0 3px rgba(183, 183, 181, 0.5));
}

.award-title {
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.award-type {
  padding: 0rem 0.5rem 0rem 0.5rem;
  color: var(--blue);
  font-size: 0.8rem;
  background: rgba(10, 161, 255, 0.05);
}

.award-type-main {
  padding: 0rem 0.5rem 0rem 0.5rem;
  color: var(--green);
  font-size: 0.8rem;
  background: rgba(8, 203, 80, 0.05);
}

.honors li .award-type {
  margin-left: 0.5rem;
  border: 1px solid var(--blue);
  border-radius: 2px;
  transition: 0.5s ease;
}

.honors li .award-type-main {
  margin-left: 0.5rem;
  border: 1px solid var(--green);
  border-radius: 2px;
  transition: 0.5s ease;
}

.honors li .award-type:hover {
  box-shadow: 1px 1px 5px var(--blue);
}

.honors li .award-type-main:hover {
  box-shadow: 1px 1px 5px var(--hover-green);
}

.award-container {
  display: flex;
  flex-wrap: wrap;
}

/* Honors Ends */

/* Side Projects Starts */

.row1 {
  display: flex;
  flex-wrap: wrap;
}

.row1 > div {
  flex: 40%;
}

.card1 {
  width: 100%;
  height: 15rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(30, 30, 30);
  border-radius: 4px;
  transition: 0.3s ease;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
  color: white;
  padding: 0 5rem 0 5rem;
  text-align: center;
}

.card1:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 7px rgba(93, 92, 92, 0.9);
}

.links1 {
  position: absolute;
  list-style-type: none;
  display: flex;
  top: 8%;
  left: 70.5%;
}

.links1 li a {
  margin-left: 1.5rem;
}

.tech-stack {
  position: absolute;
  top: 85%;
}

.tech-stack ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  list-style-type: none;
  font-size: 0.8rem;
  color: #a5a5a5;
  transition: 0.5s ease;
}

.card1 .tech-stack ul:hover {
  color: #fff;
}

.tech-stack ul li a {
  margin-left: 0.5rem;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

.carousel::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 25%;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 40%;
  width: 50%;

  margin: 0 30rem 0 30rem;
  height: 15rem;
  counter-increment: item;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 22px;
  left: 0;
  text-align: center;
}

.text {
  position: absolute;
  right: 36%;
  transition: 0.5s ease;
  bottom: 28px;
}

.text:hover {
  color: white;
}

.text span {
  transition: 0.25s ease;
}

.text span:hover {
  color: var(--blue);
}

.text1 {
  position: absolute;
  left: 36%;
  transition: 0.5s ease;
  bottom: 28px;
}

.text1:hover {
  color: white;
}

.text1 span {
  transition: 0.5s ease;
}

.text1 span:hover {
  color: var(--blue);
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

/* Side Projects Ends */

/* Footer Starts */

.footer {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding: 30px 0;
  border-top: solid 1px rgba(108, 108, 108, 0.5);
  margin-top: 30px;
}

.footer span {
  margin: 0;
  font-size: 12px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  margin: 0;
  gap: 30px;
  font-size: 16px;
  color: #a5a5a5;
  text-decoration: none;
}

.footer-social * {
  transition: all 0.1s ease;
}

.footer-social *:hover {
  color: var(--hover-green);
}

@media screen and (min-width: 650px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 0;
    border-top: 1px solid #2d2d2d;
    margin-top: 30px;
  }

  .footer-social {
    display: flex;
    gap: 20px;
    font-size: 18px;
  }
}

.footer-social .top {
  font-size: 0.7rem;
}

/* Footer Ends */

/*
End of the site CSS
 ╬═╬
 ╬═╬
 ╬═╬
 ╬═╬
 ╬═╬
 ╬═╬ ☻/
 ╬═╬/▌
 ╬═╬/\
-⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__
*/
